@charset "UTF-8";

.big-bg{
	background-color: black;
	
	height: 100vh;
	width: 100%;
    
    background-size: 100% 100%;
	
	text-align: center;
}
.empty_div{
    float: left;
    height: 50%; /*父元素高度的50%*/
}
.welcome{
    clear: both; /*清除浮動*/
    height: 50vh;
    position: relative;
	font-family: 'Courgette', cursive;
	color: rgba(255,255,255,1);
	font-size: 50px;
	
	/* animation 參數設定 */
    animation-name: Flicker;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 2s;    /*動畫持續時間，單位為秒*/
    animation-iteration-count: infinite;    /*動畫次數，infinite 為無限次*/
	animation-direction: alternate;
	animation-timing-function: ease-in;
}
/* 關鍵影格(@keyframe) */
@keyframes Flicker {
    from { color: rgba(255,255,255,1);}
    to { color: rgba(255,255,255,0);}
}

.new_div{
	background-color: #FFBA84;
	height: 150vh;
	width: auto;
	display: none;
	animation: flyInto 1s both;
}
@keyframes flyInto {
    from {
        transform: scale(2) translateZ(100px);
        opacity: 0;
    }
    to {
		transform: scale(1) translateZ(0);
        opacity: 1;
    }
}

.header{
    position: sticky;
	top: 0;
	width: 100%;
    padding: 0 10px;
    background-color: rgba(251,153,102,0.9);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}
.logo{
    width: 50px;
    height: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.header p{
    line-height: 75px;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 26px;
}
.menu{
    display: flex;
}
.menu li{
    margin-right: 5px;
	list-style:none;
}
.menu li:nth-child(2){
    margin-right: 0;
}
.menu li a{
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    color: #ffffff;
    border-bottom: 8px solid transparent;
}
.menuItem{
    width: 30px;
    height: 30px;
}
.menu li a:hover{
    color: #06bd8e;
    border-bottom: 8px solid #00cc99;
}

.rightbar{
	display: none;
	position: fixed;
	z-index: 9999;
	right: 3%;
	bottom: 15%;
	width: 15vw;
	height: 65vh;
	background-image: url(../images/map.png);
	background-size: 100% 100%;
	animation: flyInto 1s both;
}

.download{
	width: 100%;
	height: 90vh;
	background-image: url(../images/avenue.jpg);
	background-size: 100% 100%;
}
#maintitle{
    line-height: 75px;
	font-family: 'Dancing Script', cursive;
	font-size: 72px;
	color: white;
	position: absolute;
	margin-left: 5%;
	margin-top: 10%;
}
#subtitle{
    line-height: 48px;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 48px;
	color: white;
	position: absolute;
	margin-left: 19%;
	margin-top: 16%;
}
.blur{
	width: 40%;
	height: 20%;
	position: absolute;
	margin-left: 5%;
	margin-top: 23%;
	background-color: rgba(255,255,255,0.5);
	border-radius: 20px;
}
.blur p{
	line-height: 24px;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 24px;
	color: white;
	position: absolute;
	margin-left: 5%;
	margin-top: 5%;
}



