@charset "UTF-8";

.big-bg{
	background-color: black;
	
	height: 100vh;
	width: 100%;
    
    background-size: 100% 100%;
	
	text-align: center;
}
.empty_div{
    float: left;
    height: 50%; /*父元素高度的50%*/
}
.welcome{
    clear: both; /*清除浮動*/
    height: 50vh;
    position: relative;
	font-family: 'Courgette', cursive;
	color: rgba(255,255,255,1);
	font-size: 50px;
	
	/* animation 參數設定 */
    animation-name: Flicker;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 2s;    /*動畫持續時間，單位為秒*/
    animation-iteration-count: infinite;    /*動畫次數，infinite 為無限次*/
	animation-direction: alternate;
	animation-timing-function: ease-in;
}
/* 關鍵影格(@keyframe) */
@keyframes Flicker {
    from { color: rgba(255,255,255,1);}
    to { color: rgba(255,255,255,0);}
}

.Screen1{
	background-color: #FFBA84;
	height: 90vh;
	width: auto;
	display: none;
	animation: flyInto 1s both;
}
@keyframes flyInto {
    from {
        transform: scale(2) translateZ(100px);
        opacity: 0;
    }
    to {
		transform: scale(1) translateZ(0);
        opacity: 1;
    }
}

.header{
    position: sticky;
	top: 0;
	width: 100%;
    padding: 0 10px;
    background-color: rgba(251,153,102,0.9);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
	/*z-index 越大在越上層*/
	z-index:1
}
.logo{
    width: 50px;
    height: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.header p{
    line-height: 75px;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 26px;
}
.menu{
    display: flex;
}
.menu li{
    margin-right: 5px;
	list-style:none;
}
.menu li:nth-child(2){
    margin-right: 0;
}
.menu li a{
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    color: #ffffff;
    border-bottom: 8px solid transparent;
}
.menuItem{
    width: 30px;
    height: 30px;
}
.menu li a:hover{
    color: #06bd8e;
    border-bottom: 8px solid #00cc99;
}

#rightbar{
	display: none;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	z-index: 9997;
	right: 0%;
	bottom: 15%;
	width: 20vw;
	height: 65vh;
	background-image: url(../images/map.png);
	background-size: 100% 100%;
	animation: flyInto 1s both;
}
#footprints{
	position: absolute;
	z-index: 9998;
	right: 25%;
	bottom: 68%;
	width: 10vw;
	height: 2vh;
	opacity: 0.4;
	clip: rect(0vh, 0vw, 2vh, 0vw);
	animation-name: Show;
    animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}
@keyframes Show {
	from { clip: rect(0vh, 0vw, 2vh, 0vw);}
    to { clip: rect(0vh, 10vw, 2vh, 0vw); }
}
.rightbarBT{
	line-height: 10vh;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
}

#gototop{
	display: none;
	position: fixed;
	z-index: 9999;
	right: 3%;
	bottom: 5%;
	width: 50px;
	height: 50px;
	background-image: url(../images/gototop.png);
	background-size: 80% 80%;
	background-position: center;
	border-style: solid;
	border-width: 3px;
	border-color: #D7C4BB;
}
#gototop:hover{
	animation-name: Change;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 1.5s;    /*動畫持續時間，單位為秒*/
	animation-fill-mode: forwards;
}
#gototop:not(:hover){
	animation-name: Change2;    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 1.5s;    /*動畫持續時間，單位為秒*/
	animation-fill-mode: forwards;
}
/* 關鍵影格(@keyframe) */
@keyframes Change {
    from { border-color: #D7C4BB;}
    to { border-color: #ADA142;}
}
/* 關鍵影格(@keyframe) */
@keyframes Change2 {
    from { border-color: #ADA142;}
    to { border-color: #D7C4BB;}
}

.download{
	width: 100%;
	height: 90vh;
	background-image: url(../images/avenue.jpg);
	background-size: 100% 100%;
}
#maintitle{
    line-height: 75px;
	font-family: 'Dancing Script', cursive;
	font-size: 72px;
	color: white;
	position: absolute;
	margin-left: 5%;
	margin-top: 10%;
}
#subtitle{
    line-height: 48px;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 48px;
	color: white;
	position: absolute;
	margin-left: 19%;
	margin-top: 16%;
}
.blur{
	width: 40%;
	height: 30vh;
	position: absolute;
	margin-left: 5%;
	margin-top: 23%;
	background-color: rgba(255,255,255,0.5);
	border-radius: 20px;
}
.blur p{
	line-height: 24px;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 24px;
	color: white;
	position: absolute;
	margin-left: 5%;
	margin-top: 5%;
}

#Screen2{
	width: 100%;
	height: 90vh;
	background-color: black;
}

#Screen3{
	width: 100%;
	height: 90vh;
	background-color: blue;
}

#Screen4{
	width: 100%;
	height: 90vh;
	background-color: gray;
}
